<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="case-list" class="tab-button">
      <img src="assets/images/general/navbar_caselist1.jpg" class="tab-icon" alt="Case List">
      <img src="assets/images/general/navbar_caselist2.jpg" class="tab-icon-hover" alt="Case List">
    </ion-tab-button>

    <ion-tab-button tab="case-details" class="tab-button">
      <img src="assets/images/general/navbar_casedetails1.jpg" class="tab-icon" alt="Case Details">
      <img src="assets/images/general/navbar_casedetails2.jpg" class="tab-icon-hover" alt="Case Details">
    </ion-tab-button>

    <ion-tab-button tab="media-review" class="tab-button">
      <img src="assets/images/general/navbar_mediareview1.jpg" class="tab-icon" alt="Media Review">
      <img src="assets/images/general/navbar_mediareview2.jpg" class="tab-icon-hover" alt="Media Review">
    </ion-tab-button>

    <ion-tab-button tab="capture" class="tab-button">
      <img src="assets/images/general/navbar_capture1.jpg" class="tab-icon" alt="Capture">
      <img src="assets/images/general/navbar_capture2.jpg" class="tab-icon-hover" alt="Capture">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
