<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
        <!-- <img slot="icon-only" src="assets/images/capture/header_back.png"/> -->
      </ion-back-button>
    </ion-buttons>
    <ion-title>Capture</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/images/capture/icon_swapcamera.png" class="swap-camera-icon"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="capture-container">
    <img src="assets/Screenshot_9.png" alt="Capture" class="capture-image">
    <!-- <div class="timer">00:00:54</div> -->
  </div>

  <div class="button-container">
    <ion-button expand="block" fill="clear" >
      <img src="assets/images/capture/button_burst.png" alt="BURST">
    </ion-button>
    <ion-button expand="block" fill="clear">
      <img src="assets/images/capture/button_photo.png" alt="VIDEO">
    </ion-button>
    <ion-button expand="block" fill="clear">
      <img src="assets/images/capture/button_video1.png" alt="PHOTO">
    </ion-button>
  </div>
</ion-content>
<!-- <app-tab-bar></app-tab-bar> -->
