<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
        <!-- <img slot="icon-only" src="assets/header_back.png"/> -->
      </ion-back-button>
    </ion-buttons>
    <ion-title>Case Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="case-details-container">
    <div class="case-header">
      <p class="header">Case ID</p>
      <p class="Content">{{ caseDetails.id }}</p>
    </div>
    <div class="case-info">
      <div class="patient">
        <div class="content-div">
          <p class="header">Patient</p>
          <p class="Patient-Content"><strong>{{ caseDetails.patientName }}</strong></p>
        </div>
        <ion-button expand="block" fill="clear" >
          <img src="assets/images/case details/icon_edit.png" class="icon" alt="Case List">
        </ion-button>
      </div>
      <div class="patient">
        <div class="content-div">
          <p class="header">MRN</p>
          <p class="Content">{{ caseDetails.mrn }}</p>
        </div>
        <div class="content-div">
          <p class="header">Status</p>
          <p class="Content">{{ caseDetails.status }}</p>        
        </div>      
      </div>
      <div class="patient">
        <div class="content-div">
          <p class="header">Date/Time</p>
          <p class="Content">{{ caseDetails.dateTime }}</p>
        </div>
        <div class="content-div">
          <p class="header">Examiner</p>
          <p class="Content">{{ caseDetails.examiner }}</p>
        </div>
      </div>      
      <div class="content-div">
        <p class="header">Location of Exam</p>
        <p class="Content">{{ caseDetails.location }}</p>
      </div>
    </div>
    <div class="media-section">
      <p class="header">Recorded</p>
      <p class="Content">{{ caseDetails.images.length }} Images {{ caseDetails.videos }} Video</p>
      <div class="media-thumbnails">
        <div *ngFor="let image of caseDetails.images">
          <img [src]="image" alt="Recorded Image" class="media-thumbnail">
        </div>
        <div class="import-image">
          <img src="assets/images/case details/gallery_addmedia.png" alt="Import image">
        </div>
      </div>
      <div class="action-buttons">
        <ion-button expand="block" fill="clear" >
          <img src="assets/images/case details/button_delete.png" alt="Case List">
        </ion-button>
        <ion-button expand="block" fill="clear" >
          <img src="assets/images/case details/button_complete.png" alt="Case List">
        </ion-button>
      </div>
    </div>    
  </div>
</ion-content>