<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
        <img slot="icon-only" src="assets/header_back.png"/>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gallery-container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of galleryItems">
          <img [src]="item.src" alt="Gallery Image" class="gallery-image">
        </ion-col>
        <ion-col size="6">
          <div class="import-image">
            <img src="assets/images/media review/gallery_addmedia.png" alt="Import image">
            <span>Import image</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
