ion-content {
    --background: url('../../assets/images/splash/bg.jpg') no-repeat center center / cover;
  }
.gallery-container {
    padding: 16px;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .import-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    color: white;
    background-color: #07B7F3;
    cursor: pointer;
  }
  
  .import-image img {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }
  
  .import-image span {
    font-size: 14px;
  }
  